<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
        <dict>
        <key>name</key>
        <string>Rocking out on the Air-Guitar!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Do your biggest jump!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Brush your teeth</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You’re a fireman</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Do a fish face</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Catch your shadow</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Highfive!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>How low can you go?</string>
    </dict>
        <dict>
        <key>name</key>
        <string>do a wave</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Everyone Look Left!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Line up Oldest to youngest</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Line up Shortest to Tallest</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You’re a ssssssnake</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Stick out your tongue</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Touch Your Toes</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Jumping in a puddle!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Be really sneaky</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Freeze!!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Your Driving a Fire-engine</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Do a cartwheel!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You hit a home run!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Do some Jumping Jacks</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Do some star jumps</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're under arrest!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Alien attack!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Squeezed by an anaconda!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a big baby</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Back to school!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a Bear</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Blow fish</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Brainfreeze!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Bugeyed</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a burglar</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a butterfly</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a camel</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Camoflauge and hide!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a cat meow!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a cow mooo!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Saddle up cowboy!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Do the Crab Walk!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a crocodile</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Go cross-eyed!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Do a curtsey</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Arrrgh lookout! a dinosaur!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a dog woof woof</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a dragon! Roar!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Driving a big rig!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Do a Drum Solo</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a duck, quack quack!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>E.T phone home</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're an eagle</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Easter bunny</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a elephant</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Do some flossing</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Wow your flying!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a frog, ribbet!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a gazelle</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a Genie in a Bottle</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a giraffe</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a goat, baaaa!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a gorilla, ooh ooh!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Show me your grumpy face!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Do a Handstand!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Show me your happy face!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're harry potter!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Play Hide and Seek!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Hold Your Breath!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a horse, neigh!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're the hunch back of notre damn!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Working the jack hammer!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a kangaroo, boing!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Sing some kareoke!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Landing an Aircraft</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a lion, Roar!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a lizard on the wall!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Everyone Look Right</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Nails on a chalk board</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Ride the Merry Go Round!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Your Mischievous!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a monkey, ooh oh oh!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Paper Scissors Rock!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Show your peace sign!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a penguin</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Aaargh you're a pirate!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Show me your pouty face!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a race car driver, neeeoowm!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a rhino, Charge!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Robot wreslting Battle!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a rockstar!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Show me your sad face</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Salute, Attention!!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Sit on santas lap</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Say Cheese!!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Show me your scared face!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Eathquake!!!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Shark Attack!!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a sheep, Baaaa!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Do some sit ups</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Yawn so sleepy!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Sneezing, Atchooo!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Line up from Tallest to Shortest</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a troll, Aargh!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a turtle, blub blub!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You are swimming underwater</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're Riding a Unicorn!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Walking on the moon</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a werewolf, hooooowl!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Pew! whats that smell?</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Whats up Doc?</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a witch!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a wizard!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Caught in a Tornado!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Going Fishing!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Jackpot!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Riding a broomstick!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Spin around!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're riding a Roller Coaster!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a big bad wolf!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're the King of the Castle!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're surprised!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Land Hooo!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Laughing! Hahahaha!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Look out!!!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a meerkat</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a mouse </string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a octopus</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a pig, oink oink!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a policeman</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a rabbit</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a racoon</string>
    </dict>
        <dict>
        <key>name</key>
        <string>you're so bored!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Rock a bye baby on the tree top</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a rooster, cock a doodle doo!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Ho Ho Ho Santa Clause</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a sloth</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Pew! smelly feet!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Be a Sneaky Ninja!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a spider </string>
    </dict>
        <dict>
        <key>name</key>
        <string>Show me you're delighted face!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Stop! Hammer time!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>This little piggy had none!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>This little piggy had roast beef</string>
    </dict>
        <dict>
        <key>name</key>
        <string>This little piggy stayed at home</string>
    </dict>
        <dict>
        <key>name</key>
        <string>This little piggy went to market</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a tiger! Roar!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Ouch! tooth ache!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a Ram</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You are a Ballet Master!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Batter up!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Show me your batting stance</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're in a bicyle race</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You got an A is your exam!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Cannon ball!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>you're paddling in a Canoe</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Do the Chicken Dance!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You won the gold medal!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're Craaazy</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Do a high kick! </string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a star hockey player!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Do the Hokey Pokey!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Huddle in!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Do the hula hoop!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Make a human tower</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Limbo, how low can you go?!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Attack by killer bees!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're Pinocchio!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You are Aladdin!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Alice in wonderland</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You are Bambi</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Just opened Barrel of angry Monkeys</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Beauty and the Beast</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Donald duck</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Show me your Duckface!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're dumbo</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're singing in the rain!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Home Alone</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Hook and peter pan!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're on a magic carpet!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a Zombie!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Surfs up dude!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Go Power Rangers Go!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're being chased by zombies!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Surprise!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're shocked!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Electric Shock!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Call me maybe?!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Hey Macaraina!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Do the Can Can!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're dazed an confused?</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Everyone Conga!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>Singing in the rain!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a boxer!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a sniper!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're a mad scientist!</string>
    </dict>
        <dict>
        <key>name</key>
        <string>You're an Archer</string>
    </dict>
        <dict>
        <key>name</key>
        <string></string>
    </dict>
    </array>
</plist>